<h1>Editing membership</h1>

<%= form_for([@membership]) do |f| %>
  <% if @membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
      <% @membership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= @membership.user.email %>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.select :role, Membership.roles.keys %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<%= link_to 'Show', @membership %> |
<%= link_to 'Back', team_memberships_path(@team) %>
