<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @access.user_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @access.project_id %>
</p>

<p>
  <strong>Team:</strong>
  <%= @access.team_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @access.role %>
</p>

<%= link_to 'Edit', edit_access_path(@access) %> |
<%= link_to 'Back', accesses_path %>
