<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Team:</strong>
  <%= @project.team_id %>
</p>

<%= link_to 'Back', team_path(@team) %>

<% if @project.admin?(current_user) %>
<h1>Listing accesses</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Project</th>
      <th>Team</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accesses.each do |access| %>
      <tr>
        <td><%= access.user_id %></td>
        <td><%= access.project_id %></td>
        <td><%= access.team_id %></td>
        <td><%= access.role %></td>
        <% if @project.admin?(current_user) %>
          <td><%= link_to 'Show', access %></td>
          <td><%= link_to 'Destroy', access, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Access', new_project_access_path(@project) %>
<% end %>


<h1>Listing todos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Assign</th>
      <th>Content</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.title %></td>
        <td><%= todo.assign_id %></td>
        <td><%= todo.content %></td>
        <td><%= todo.deadline %></td>
        <% if todo.can_edit?(current_user) %>
          <td><%= link_to 'Show', todo %></td>
          <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
          <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Todo', new_project_todo_path(@project) %>

